@font-face {
    font-family: 'barlow-light';
    src: url('../fonts/Barlow-Light.ttf');
}

$font-main: 'barlow-light', sans-serif;

// Colors:

$color-primary: #f3f3f3;   //main background
$color-secondary: lighten(#03a9f4, 10%);  //secondary background
$color-accent: #f9e879 ;  // d and hamburger

$color-pink: #ff6060;

$font-color-main:  #f9e879;
$font-color-secondary: #ecf0f1; //light grey

$a-color: #505050; //grey for font


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
