header{
  @include positioning(fixed, 100vw, 0, 0 );
  @include displayAndJustify(flex, flex-end, flex-start);
  z-index: 100;
}

.large-screen{
  display: none;
}
.mobile-screen{
  @include positioning(sticky, 100%, 0 ,0 );
  display: none;
  .large-links, .mobile-links{
    @include displayAndJustify(flex, space-around, center);
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 50px 0 80px;
    border-radius: 0 0 0% 90%;
    a {
      width: 30%;
      border: 1px solid transparent;
      border-bottom: 1px solid $color-accent;
      text-align: center;
      padding: 10px;
      margin-left: 20px;
      color: $a-color;
      text-shadow: 2px 0 2px white;
      &:hover {
        border: 1px solid $color-accent;
        border-top: none;
        text-shadow: none;
        transition:  background-color .4s;
      }
    }
    a:nth-child(1):hover{
      border-top: 1px solid $color-accent;
    }
  }
}

@media all and (min-width: 750px){
  nav.mobile-screen ul.mobile-links{
    display: none;
    visibility: hidden;
  }
  header{
    right: 0px;
  }

  //for projects
  .d-logo {
    border: 10px solid $color-accent;
    border-radius: 0 50% 50% 0;
    width: 70px;
    height: 70px;
    transition: all .3s;
    text-shadow: 1px 1px 2px white;
    &:hover{
      background: darksalmon;
      color: white;
      text-shadow: none;
      border: 10px solid darksalmon;
    }
  }
  .d-logo h6{
    padding-top: 15px;
    letter-spacing: .1rem;

  }
  nav p {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  nav.large-screen {
    @include positioning(sticky, 250px, 0 20px, 5px );
    display: inline-block !important;
    .links.large-links{
      @include displayAndJustify(flex, space-between, center);
      a {
        cursor: pointer;
        background-color: #f1f1f1;
        width: 78px;
        height: 70px;
        text-align: center;
        border-radius: 50%;
        border-bottom: 3px solid #f9e879;
        /* text-align: right; */
        padding: 22px 2px;
        /* padding-right: 5px; */
        margin-left: 10px;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 1px;
        color: #717171;
        text-shadow: 1px 1px #f3f3f3;
        transition: all .3s;
        &:hover {
          background-color: #f9a8a8;
          color: white;
          text-shadow: 1px 1px #f1bebead;
          border-bottom: 3px solid #f9e87900;
        }
      }

    }
}
}
