header{
  @include positioning(fixed, 100vw, 0, 10px );
  @include displayAndJustify(flex, flex-end, flex-start);
  z-index: 100;
}

.large-screen{
  display: none;
}
.mobile-screen{
  @include positioning(sticky, 90%, 0 60px 0 0 ,0 );
  display: none;
  // top: 20px;
  .large-links, .mobile-links{
    @include displayAndJustify(flex, space-around,center);
    flex-direction: column;
    flex-wrap: wrap;
    a {
      background-color: rgba(247, 239, 190, 0.9);
      width: 80%;
      border-bottom: 1px solid $color-accent;
      text-align: center;
      padding: 5px 0;
      margin-left: 10px;
      color: $a-color;
      text-shadow: 2px 0 2px white;
      &:hover {
        background-color: #f2b53e9c;
        text-shadow: none;
        transition:  background-color .4s;
      }

    }
  }
}

@media all and (min-width: 750px){
  nav.mobile-screen ul.mobile-links{
    display: none;
    visibility: hidden;
  }
  header{
    right: 0px;
  }
  //for projects
  .d-logo {
    background:$color-accent;
    border-radius:0 50% 50% 0;
    width: 30px;
    height: 30px;
    transition: all .3s;
    &:hover{
      background: darksalmon;
    }
  }
  nav p {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  nav.large-screen {
    @include positioning(sticky, 35%, 0 25px, 5px );
    display: inline-block !important;
    .links.large-links{
      @include displayAndJustify(flex, space-between, strech);
      flex-direction: row;
      flex-wrap: nowrap;
      a {
        cursor: pointer;
        background-color: #f3f3f3ad;
        width: 70%;
        border-bottom: 3px solid #f9e879;
        text-align: center;
        padding: 5px 0;
        margin-left: 20px;
        /* text-shadow: 2px 0 2px white; */
        font-weight: bold;
        font-size: 18px;
        color: #353535;
        &:hover {
          background-color: #ff606085;
          color: white;
          border-bottom: 3px solid #ff6060;
          // transform: scale(1.1);
          transition: all .3s, border-bottom .4s;

        }
      }

    }
}
}
