.my-photo-space {
  @include displayAndJustify(flex, center, center);
  height: 400px;
  background-image: url("../img/star_field_full_gal.jpg");
  background-size: contain;
  font-size: 30px;

  img{
    width: 500px;
  }
}

.block1{
  @include positioning(relative, 90%, 2.5% 5%, 5%);
}

.user-flow{
  @include displayAndJustify(flex, space-between, flex-start);
  margin-top: 50px;
  .user-flow-text{
    padding-right: 5%;
  }
  .diagram {
    padding-left: 5%;
    img{
      width: 100%;
    }
  }
}
