.my-photo-space {
  @include displayAndJustify(flex, center, center);
  min-height: 80vh;
  background-image: url("../img/star_field_full_gal.jpg");
  background-size: cover;
  img{
    width: 70%;
  }
}

.block1{
  @include positioning(relative, 90%, 2.5% 5%, 5%);
}

.user-flow{
  @include displayAndJustify(flex, space-between, flex-start);
  margin-top: 50px;
  .user-flow-text{
    padding-right: 5%;
  }
  .diagram {
    padding-left: 5%;
    img{
      width: 100%;
    }
  }
}


.style-guide{
  width: 100%;
  img{
    width: 100%;
  }
}
