#topButton {
  display: none;
  visibility: hidden;
  position: fixed;
  bottom: 15px;
  right: 18px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $color-pink;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  &:hover{
    transform: scale(1.1);
    background-color: $color-accent;
  }
}
