div.work-image{
  // display: flex;
  // flex-direction: column;
  // overflow: hidden;
  /* box-shadow: 1px 5px 7px #b4b4b4; */
  height: 290px;
  background-color: white;
}

div.work-gray-bottom {
  background-color: #5a5a5a;
  color: white;
  width: 100%;
  /* text-align: center; */
  font-weight: lighter;
  line-height: 1.2rem;
  padding: 10px;
  transition: background-color .2s ease-in-out;
  h6{
    color: $color-primary;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .05rem;
  }
  p{
    color: $color-primary;
    font-family: sans-serif;
    font-size: .8rem;
    text-align: left;
  }
}

div.work-image-container {
  width: 100%;
  overflow: hidden;
  text-align: center;
  height: 290px;
// background-image: url("http://via.placeholder.com/280x240");
  img{
    width: 100%;
    opacity: .4;
    transition: opacity .3s ease-in;
    position: inherit;
    z-index: -10;
    filter: blur(2px);
    // &:hover{
    //   opacity: .9;
    // }
  }
}


div.work-description {
  width: 50%;
  max-height: 150px;
  padding: 2%;
  background-color: white;
  color: black;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 16%;
  top: 100px;
  left: 10%;
  border: 2px solid grey;
  transition: all .6s;
  h3{
    padding: 6px 0;
  }
  .text{
    padding: 10px 0;
    h4{
      font-size: 14px;
    }
    p{
      font-size: 10px;
    }
  }

}


div.border {
  border: 3px solid transparent;
  width: 98%;
  height: auto;
  padding: 10px;
  position: relative;
  margin: 4%;
  // border-radius: 10px;
  transition: all .25s;
  a{
    border-bottom: 2px solid red;
  }
  &:hover, &:focus{
    border: 3px solid #8872729c;
    img{
      opacity: 1;
      filter: blur(0px);
    }
    div.work-description{
      opacity: 0;
      // border: 2px solid #d8d9db;
      // border: 2px solid $color-pink;
      // background-color: #ffffffcf;
      // transform: translateX(42%) translateY(50px);
    }
    // div.work-gray-bottom {
    //   background-color: $color-primary;
    //   color: grey;
    //   padding-top: 0px;
    //   div.work-skills{
    //     margin-right: 60%;
    //   }
    //   p{
    //     color: grey;
    //   }
    //   h4{
    //     color: grey;
    //   }
    // }
  }
}

// This are rules for big screens...:

@media all and (min-width: 750px){
  div.border{
    width: 45%;
    // height: 340px;
    // padding: 20px;
    position: relative;
    margin: 5px;
    margin-top: 1.2rem;
    // &:hover {
    //   div.work-description{
    //     transform: translateX(40%) translateY(80px);
    //   }
    //   div.work-skills{
    //     margin-right: 40%;
    //   }
    //
    // }
  }


  div.work-description{
    width: 45%;
    min-height: 140px;
    padding: 2%;
    background-color: white;
    position: absolute;
    left: 12%;
    flex-wrap: nowrap;

  }
  div.work-description-tittle{
    text-align: center;
  }



}
