


*{
  font-family: $font-main;
}

a{
  font-family: $font-main !important;
}



// Mixin: fontStyle($font-family, $font-size, $font-weight)

h1{
  @include fontStyle($font-main, 10px, 400);
  text-transform: uppercase;
  text-align: center;
  color: lightblue;
}

h2{

}

h3{

}

h4{

}

p{

}
